body{
	margin: 0px;
	padding: 0px;
	font-family:'Varela Round';
	overflow: hidden;
}

.sideMenu{
	width: 20%;
	height: 100%;
	background-color: white;
	overflow: hidden;
	float: left;
}

.menuTitle{
	text-align: center;
	text-transform:uppercase;
	letter-spacing:.3rem;
}

.menuButtonHolder{
	margin: 0;
    padding: 0;
	list-style-type:none;
	width: 100%;
}

.menuButtonHolder .menuButton{
	background-color: #f1f1f1;
	margin-bottom: 5px;
	text-align: right;
	display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
	transition: .3s background-color;
	letter-spacing:.05rem;
}

.menuButtonHolder .menuButton:hover{
	background-color: #cccccc;
}

.content{
	width: 80%;
	height: 100%;
	background-color: white;
	float: right;
	overflow-y: scroll;
}
