body{
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 70%;
    margin: auto;
}

.titleContainer{
    width: 100%;
}

.contentTitle{
    text-align: center;
}

h1{
    color: #000000;
    font-size: 32px;
    text-align: center;
}

h2{
    color: #151515;
    font-size: 24px;
}

h3{
    color: #151515;
    font-size: 16px;
}

hr{
    border: 0px;
    height: 1px;
    background: #555555;
}

.tableOfContents{
    font-size: 14px;
    width: 250px;
    background-color: #DDDDDD;
    display: block;
    overflow: auto;
    padding: 10px;
    border: 1px solid #888888;
}
