.form-control:focus{
	border-color:#96D3CF;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(100,161,157,.35);
}

.snippetContentStyle{
	white-space: pre-line;
}

.slidingPanelTitle{
	color: #353535;
}

.newsBar{
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.newsTitle{
	text-transform:uppercase;
	margin: 0px;
	padding: 0px;
	padding-right: 10px;
	margin-right: 5px;
	color: rgba(0, 0, 0, 0.9);
	border-right:1px solid #DDDDDD;
	display: inline;
	font-size: 1rem;
}

.news-information{
	background: #F4F4F4;
	border: 1px #DDDDDD solid;
}

.news-alert{
	background: #FCF8E3;
	border: 1px #efeace solid;
}

.newsContent {
	display: inline;
}

.addPanel{
	background: #F4F4F4;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	border: 1px #DDDDDD solid;
}

.addSnippetForm{
	margin: 0px;
}

.settingsPanel{
	background: #ffffff;
	position: absolute;
	width: 25%;
	border-radius: 0px 0px 10px 10px;
	left: 37.5%;
	box-shadow: 0px 0px 30px #999999;
	display: none;
	overflow: auto;
	padding: 20px;
	z-index: 3;
}

.userProfilepanel{
	background: #ffffff;
	position: absolute;
	width: 25%;
	border-radius: 0px 0px 10px 10px;
	left: 37.5%;
	box-shadow: 0px 0px 30px #999999;
	display: none;
	overflow: auto;
	padding: 20px;
	z-index: 3;
}

.sharePanel{
	background: #ffffff;
	position: absolute;
	width: 25%;
	height: 260px;
	border-radius: 0px 0px 10px 10px;
	left: 37.5%;
	box-shadow: 0px 0px 30px #999999;
	display: none;
	padding: 20px;
	z-index: 3;
}

.addFilePanel{
	width: 100%;
	display: none;
	padding: 20px;
	border-radius: 0px 0px 10px 10px;
	background: #ffffff;
	border: 1px #DDDDDD solid;
}

.snippetTitle{
	margin-bottom: 0px;
}

.titleUnderline{
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.wrapper{
	text-align: center;
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #64a19d;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  /*background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%64a19d' fill-rule='nonzero'/%3E%3C/svg%3E ");*/
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #ffffff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #ffffff;
  border-color: #ffffff;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.hrSmall{
	width: 200px;
	margin-left: 0px;
}

.italic{
	font-style: italic;
	font-size:80%;
	margin-bottom: 4px;
}

h3{
	text-transform:uppercase;
}

.underline{
	text-decoration: underline;
	text-transform:uppercase;
	margin: 0px;
}

.linksCaption{
	margin: 0px;
} 

.code{
	padding: 3px;
	border-radius: 3px;
	background-color: #A3A3A3;
	margin-left: 8px;
}

.inline{
	display: inline-block;
}

.alertText{
	font-size: 85%;
}

.alert{
	color: #ff253a;
	margin: 0px;
	padding: 0px;
}

.endOfPageMarker{
	width: 30px;
}

.red-hover:hover{
	background-color: #c62828 !important;
}