.inlineButton{
	display: inline;
}

.linkButton { 
     background: none;
     border: 3px solid white;
     color: #64a19d;
     text-decoration: none;
     cursor: pointer; 
	 padding: 0;
}

.linkButton:hover{
	color:#3c6360;
}

.right{
	text-align: right;
}

.box{
	background: #D3D3D3;
	width: 100%;
	height: 5em;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
}

.backbtn{
	width: 50px;
	height: 25px;
	border-radius: 10px;
	background: #A3A3A3;
	padding: 3px;
	font-size: 100%;
	color: #FFFFFF;
}

.backbtn:hover{
	color: #DDDDDD;
	background: #B3B3B3;
}

.buttonWithBg{
	width: 180px;
	height: 40px;
	border-radius: 10px;
	background: #A3A3A3;
	padding: 3px;
	font-size: 100%;
	margin-right: 10px;
	color: #FFFFFF;
}

.buttonWithBg:hover{
	color: #DDDDDD;
	background: #B3B3B3;
}

.backbtn:hover{
	background: #B3B3B3;
}